* { box-sizing: border-box; }
body, html { height: 100vh; overflow: hidden; }
body { background-color: #000000; color: #ffffff; }
h1 { font-family: "Playfair Display"; font-size: 30px; padding: 10px 0px; margin: 0px; }
h2 {font-family: "Playfair Display"; font-size: 24px; }
.field-box { border: 2px solid #d0d0d0; box-sizing: content-box !important; float: left; width: 1024px; height: 640px; position: relative; }
.field { position: relative; display: grid; grid-template-columns: repeat(32, 32px); }
.field .tile { width: 32px; height: 32px; background-size: 100%;position: relative; background-image: url(images/tile-.png); z-index: 5; }
.overlay { width: 100%; height: 100%; left: 0; top: 0; position: absolute; }
.field-box .game-over { background-color: #000000; display: grid; justify-items: center; align-items: center; z-index: 20; }
.field-box .damage { background-color: #ff0000; z-index: 15; opacity: 15%; }
.hidden { display: none !important; }
.field .tileW { background-image: url(images/tile-W.png); }
.field .tileE { background-image: url(images/tile-E.png); }
.field .tileP { background-image: url(images/tile-P.png); }
.field .tileHP { background-image: url(images/tile-HP.png); }
.field .tileSW { background-image: url(images/tile-SW.png); }
.field .healthE { background-color: #ff0000; z-index: 11; position: absolute; left: 0px; top: 0px; height: 3px; width: 100%; max-width: 100%; }
.field .healthP { background-color: #00ff00; z-index: 11; position: absolute; left: 0px; top: 0px; height: 3px; width: 100%; }
.inventory-box { border: 2px solid #d0d0d0; float: left; }
.inventory { position: relative; width: 800px; height: 32px; }
.cl { clear: both; display: block; }
.left { transform: scaleX(-1); }
.left > * { left: auto !important; right: 0px !important; } 
